@charset 'UTF-8';

@function r ($px) {
	@return $px / 24 + rem;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form{
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
input,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
}
select {
	outline:none;
}
textarea {
	resize: none;
	overflow: auto;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0;
}


a,
input,
button {
	-webkit-tap-hightlight-color: rgba(0,0,0,0)
}


input,
button {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	font-family: Helvetica;
}
body * {
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
}

body {
	overflow: hidden;
	width: 100%;
}

section {
	width: 100%;
	height: r(100);
	position: relative;
}
#tabNav {
	position: absolute;
	left: 50%;
	bottom: r(10);
	height: r(20);
	text-align: center;
	transform: translateX(-50%);
	a {
		display: inline-block;
		margin: 0 r(5);
		width: r(10); height: r(10);
		border-radius: 60%;
		// border: 1px solid black;
		background: rgba(0,0,0,.2);
	}
	.active {
		background: rgba(255,255,255,.5);
	}
}
#wrap {
	display: flex;
	position: absolute;
	top: 0; left: 0;
	div {
		width: 15rem;
		height: r(100);
		background: #58a;
		line-height: r(100);
		font-size: r(50);
		border: 1px solid black;
		box-sizing: border-box;
		text-align: center;
	}

}