body {
	font-family: Helvetica;
}
body * {
	-webkit-user-select: none;
	-webkit-text-size-adjust: 100%;
}

input {
	-webkit-appearance: none;
	border-radius: 0;
}
button {
	-webkit-appearance: none;
}
a,
input,
button {
	-webkit-tap-highlight-color: rgba(255,0,0,0);
}