
@function r ($px) {
	@return $px / 50 + rem;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form{
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
input,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
}
select {
	outline:none;
}
textarea {
	resize: none;
	overflow: auto;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0;
}


a,
input,
button {
	-webkit-tap-hightlight-color: rgba(0,0,0,0)
}


input,
button {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	font-family: Helvetica;
}
body * {
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
}


header {
	height: r(103);
	background: #ef3239;
	position: relative;
	box-sizing: border-box;
	border-bottom: r(1) solid #b2b2b2;
	a {
		width: r(104);
		height: r(88);
		position: absolute;
		top: 0;
		line-height: r(88);
		text-align: center;
	}
	#task {
		left: 0;
		span {
			font-size: r(37);
		}
	}
	#refrash {
		right: 0;
		span {
			font-size: r(36);
		}
	}
	span {
		color: #fff;
	}
	h1 {
		text-align: center;
		font-size: r(39);
		color: #fff;
		line-height: r(88);
		span {
			font-size: r(26);
			margin-right: r(16);
		}
	}
}

#nav {
	height: r(105);
	background-color: #fbfbfb;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
	a {
		float: left;
		width: 25%;
		height: r(103);
		text-align: center;
		line-height: r(103);
		color: #848689;
		font-size: r(35);
	}
	.active {
		color: #f23838;
	}
	#spanBox {
		width: r(37);
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		span {
			float: right;
		}
	}
}

