
@function r ($px) {
	@return $px / 50 + rem;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
form{
	margin: 0;
}
ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: top;
}
input,
textarea {
	margin: 0;
	padding: 0;
	outline: none;
}
select {
	outline:none;
}
textarea {
	resize: none;
	overflow: auto;
}
table {
	border-collapse: collapse;
}
th,
td {
	padding: 0;
}


a,
input,
button {
	-webkit-tap-hightlight-color: rgba(0,0,0,0)
}


input,
button {
	-webkit-appearance: none;
	border-radius: 0;
}

body {
	font-family: Helvetica;
}
body * {
	-webkit-text-size-adjust: 100%;
	-webkit-user-select: none;
}


body,
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
header {
	width: 100%;
	height: r(103);
	background: #ef3239;
	position: absolute;
	top: 0; left: 0;
	box-sizing: border-box;
	border-bottom: r(1) solid #b2b2b2;
	a {
		width: r(104);
		height: r(88);
		position: absolute;
		top: 0;
		line-height: r(88);
		text-align: center;
	}
	#task {
		left: 0;
		span {
			font-size: r(37);
		}
	}
	#refrash {
		right: 0;
		span {
			font-size: r(36);
		}
	}
	span {
		color: #fff;
	}
	h1 {
		text-align: center;
		font-size: r(39);
		color: #fff;
		line-height: r(88);
		span {
			font-size: r(26);
			margin-right: r(16);
		}
	}
}

#nav {
	width: 100%;
	height: r(105);
	background-color: #fbfbfb;
	border-top: 1px solid #b0b0b0;
	border-bottom: 1px solid #cccccc;
	box-sizing: border-box;
	position: absolute;
	top: r(103);
	left: 0;
	a {
		float: left;
		width: 25%;
		height: r(103);
		text-align: center;
		line-height: r(103);
		color: #848689;
		font-size: r(35);
	}
	.active {
		color: #f23838;
		span {
			font-size: r(36);
		}
	}
	#spanBox {
		width: r(37);
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		span {
			float: right;
			font-size: r(28);
		}
		.glyphicon-chevron-down {
			left: r(-2);
			top: r(-2);
		}
	}
	.glyphicon-filter {
		font-size: r(37);
		top: r(3);
	}
}

#list {
	position: absolute;
	left: 0; right:0; top: r(208); bottom: 0;
	overflow: auto;
	li {
		height: r(281);
		border-bottom: 1px solid #e0e0e0;
		box-sizing: border-box;
	}
	img {
		float: left;
		height: r(235);
		width: r(235);
	}
	a {
		padding: r(23);
		height: r(235);
		float: left;
	}
	.spanWrap {
		width: r(432);
		float: right;
		span {
			color: #333;
			display: block;
		}
		.sTitle {
			line-height: r(44);
			font-size: r(28);
			margin-top: r(5);
		}
		.sPrice {
			line-height: r(64);
			font-size: r(38);
			margin-top: r(23);
			color: #23838a;
		}
		.sComment {
			font-size: r(28);
			line-height: r(47);
			display: block;
		}
	}
}
